<main role="main">

    <section class="text-center">
      
        <h3>Bankaccount overview</h3>
     
    </section>
  
    <div class="album py-5">
      <div class="container">
  
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Bankaccount holder</th>
                  <th scope="col">Bankaccount type</th>
                  <th scope="col">Bankaccount number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bankAccount of bankAccounts">
                  <td>{{bankAccount.bankAccountHolder}}</td>
                  <td>{{bankAccount.bankAccountType | enumAsString:EBankAccountTypes}}</td>
                  <td>{{bankAccount.bankAccountNumber}}</td>
                </tr>
              </tbody>
            </table>
        
        
      </div>
    </div>
  
  </main>
